<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../dist/style.css">
  <link rel="stylesheet" href="../dist/font.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>Virtual keyboard</title>
</head>
<body>

  <div class="container">
    <textarea name="input" id="text" rows="10" class="text">     </textarea>
    <div class="wrapper">
      <div class="keyboard">
        <div class="key"> <div class="key_additional">~</div> ` </div>
        <div class="key"> <div class="key_additional">!</div> 1 </div>
        <div class="key"> <div class="key_additional"> @ </div> 2 </div>
        <div class="key"> <div class="key_additional"> #</div> 3 </div>
        <div class="key"> <div class="key_additional"> $</div> 4 </div>
        <div class="key"> <div class="key_additional"> %</div> 5 </div>
        <div class="key"> <div class="key_additional"> ^</div> 6 </div>
        <div class="key"> <div class="key_additional"> &</div> 7 </div>
        <div class="key"> <div class="key_additional"> *</div> 8 </div>
        <div class="key"> <div class="key_additional"> (</div> 9 </div>
        <div class="key"> <div class="key_additional"> )</div> 0 </div>
        <div class="key"> <div class="key_additional"> _</div> - </div>
        <div class="key"> <div class="key_additional"> +</div> = </div>
        <div class="key key_custom-size"> BACKSPACE </div>
        <div class="break"></div>
        <div class="key key_custom-size"> TAB </div>
        <div class="key"> Q </div>
        <div class="key"> W </div>
        <div class="key"> E </div>
        <div class="key"> R </div>
        <div class="key"> T </div>
        <div class="key"> Y </div>
        <div class="key"> U </div>
        <div class="key"> I </div>
        <div class="key"> O </div>
        <div class="key"> P </div>
        <div class="key"> <div class="key_additional"> {</div> [ </div>
        <div class="key"> <div class="key_additional"> }</div> ] </div>
        <div class="key"> <div class="key_additional"> |</div> \ </div>
        <div class="break"></div>
        <div class="key key_custom-size"> CAPS LOCK </div>
        <div class="key"> A </div>
        <div class="key"> S </div>
        <div class="key"> D </div>
        <div class="key"> F </div>
        <div class="key"> G </div>
        <div class="key"> H </div>
        <div class="key"> J </div>
        <div class="key"> K </div>
        <div class="key"> L </div>
        <div class="key"> <div class="key_additional"> :</div> ; </div>
        <div class="key"> <div class="key_additional">"</div> ' </div>
        <div class="key key_custom-size"> ENTER </div>
        <div class="break"></div>
        <div class="key key_custom-size"> SHIFT </div>
        <div class="key"> Z </div>
        <div class="key"> X </div>
        <div class="key"> C </div>
        <div class="key"> V </div>
        <div class="key"> B </div>
        <div class="key"> N </div>
        <div class="key"> M </div>
        <div class="key"> <div class="key_additional"> <</div> , </div>
        <div class="key"> <div class="key_additional">></div> . </div>
        <div class="key"> <div class="key_additional">?</div> / </div>
        <div class="key"> &#5123; </div>
        <div class="key "> SHIFT </div>
        <div class="break"></div>
        <div class="key key_custom-size"> CTRL </div>
        <div class="key key_custom-size"> WIN </div>
        <div class="key key_custom-size"> ALT </div>
        <div class="key key_xl"> SPACE </div>
        <div class="key key_custom-size"> ALT </div>
        <div class="key key_custom-size"> CTRL </div>
        <div class="key"> <span class="icon-down"></span> </div>
        <div class="key"> hh </div>
        <div class="key"> hh </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="app.bundle.js"></script>
</body>
</html>